<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebApp</display-name>
  
  <servlet>
    <servlet-name>servletName</servlet-name>
    <servlet-class>servlet.example1.ServletExample</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>servletName</servlet-name>
    <url-pattern>/servletUrl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>predictions</servlet-name>
    <jsp-file>/jsp/example1/predictions.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>predictions</servlet-name>
    <url-pattern>/predictions/*</url-pattern>
  </servlet-mapping>
  
</web-app>